entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["unzip"]

[deployment]
run = ["bash", "-c", "cd Excellence-Consultant && npm run start"]
deploymentTarget = "autoscale"
ignorePorts = false
build = ["bash", "-c", "cd Excellence-Consultant && npm run build"]

[agent]
expertMode = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38861
externalPort = 3001

[[ports]]
localPort = 39143
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev-server"

[[workflows.workflow]]
name = "dev-server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Excellence-Consultant && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
